<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConsumeSpotifyWebAPI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ConsumeSpotifyWebAPI.styles.css" asp-append-version="true" />
</head>
<body class="bg-black">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark box-shadow mb-3">
            <div class="container-fluid">

                <form asp-controller="Home" asp-action="Search" method="get">
                    <div class="input-group">
                      <input type="text" class="form-control" name="SearchString" placeholder="Search your music here!">
                      <div class="input-group-append">
                        @*<button class="btn btn-outline-secondary" type="button">Search</button>*@
                        <input type="submit" value="Search" class="btn btn-primary"/>
                      </div>
                    </div>
                </form>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ConsumeSpotifyWebAPI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
