<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConsumeSpotifyWebAPI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ConsumeSpotifyWebAPI.styles.css" asp-append-version="true" />
</head>
<body class="bg-black">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark box-shadow mb-3">
            <div class="container-fluid ms-5 me-5">

                

                <form asp-controller="Search" asp-action="Search" method="get" class="container-fluid">

                    <div class="container">
                        <div class="row">
                            <div class="input-group">
                              <input type="text" class="form-control" name="SearchString" placeholder="Search your music here!">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Search</button>
                              </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm mt-2">
                                <select class="form-select container-fluid" name="TypeString">
                                  <option selected value="album">Album</option>
                                  <option value="artist">Artist</option>
                                  <option value="playlist">Playlist</option>
                                  <option value="track">Track</option>
                                  @*<option value="show">Show</option>
                                  <option value="episode">Episode</option>*@
                                </select>
                            </div>
                            <div class="col-sm mt-2">
                                
                            </div>
                        </div>
                    </div>
@*
                    <div class="input-group">
                      <input type="text" class="form-control" name="SearchString" placeholder="Search your music here!">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                      </div>
                    </div>

                    <div class="declared-first mt-2">
                        <select class="form-select container-fluid" name="TypeString">
                          <option selected>Open this select menu</option>
                          <option value="album">Album</option>
                          <option value="artist">Artist</option>
                          <option value="playlist">Playlist</option>
                          <option value="track">Track</option>
                          <option value="show">Show</option>
                          <option value="episode">Episode</option>
                        </select>
                    </div>
*@
                </form>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ConsumeSpotifyWebAPI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
